					<!-- START * CONTENT -->
					<div class="whitebg">
						<div class="container">
						
						<form>
							<div class="w-80p">
								<div class="cat-large">Password Recovery</div>
								<label><input type="email" class="F-text-login f-mail" placeholder="Email Adress" required></label><br />
							</div>
							<br /><br /><input type="submit" value="Recover Password" class="F-btn-large">
						</form>
						</div>
					</div>
					<!-- END * CONTENT -->
