{% extends 'layout.html.twig' %}
{% block page %}
	<div class='whitebg pad-50'>
		<div class='not-found'>
		   	Ops this is embarrising , the page that you are requested does not exists !  
		</div>	
  </div>
{% endblock %}
