<!-- START * SECTION -->
					<div class="section-dark pad-tb-50">
						<div class="container">
							<div class="col-sm-4" >
								<h4 class="h-promo color-green"><span class="fa fa-gears"></span> {% trans %}Compose{% endtrans %}</h4>
								<p class="section-p-2">
									<span class="span-container">
You have an idea, we have the solution.<br> We compose code & design to match your needs.
<br><a href="{{ url('g_ddesign_page_webdevelopment' , { '_format': 'html'}) }}#Compose">{% trans %}See more...{% endtrans %}</a>
									</span>
								</p>
							</div>
							<div class="col-sm-4">
								<h4 class="h-promo color-orange"><span class="fa fa-eye"></span> {% trans %}Design{% endtrans %}</h4>
								<p class="section-p-2">
									<span class="span-container">
Our creative team is a specialist when it comes to designing appealing and professional artwork.
<br><a href="{{ url('g_ddesign_page_webdevelopment' , { '_format': 'html'}) }}#Design">{% trans %}See more...{% endtrans %}</a>
									</span>
								</p>
							</div>
							<div class="col-sm-4">
								<h4 class="h-promo color-blue"><span class="fa2 fa2-wordpress"></span> Wordpress</h4>
								<p class="section-p-2">
									<span class="span-container">
Merge your design into this powerfull content management tool. <br>Perfect for small business.
<br><a href="{{ url('g_ddesign_page_webdevelopment' , { '_format': 'html'}) }}#Wordpress">{% trans %}See more...{% endtrans %}</a>
									</span>
								</p>
							</div>
						</div>
					</div>
					<!-- END * SECTION -->
