					<!-- START * CONTENT -->
					<div class="whitebg">
						<div class="container">
						<form>
							<h2 class="cat-large">Register a New Account</h2>
							<div class="w-50p" align="left">

								<label class="F-label-big">First Name <span class="color-red">*</span></label>
								<input type="text" class="F-text-login F-text-reg" required>
								<label class="F-label-big">Last Name <span class="color-red">*</span></label>
								<input type="text" class="F-text-login F-text-reg" required>
								<label class="F-label-big">Contact Number</label>
								<input type="text" class="F-text-login F-text-reg">
								<label class="F-label-big">Email Adress <span class="color-red">*</span></label>
								<input type="text" class="F-text-login F-text-reg" required>
								<div class="row">
									<div class="col-sm-6">
										<label class="F-label-big">Password <span class="color-red">*</span></label>
										<input type="password" class="F-text-login F-text-reg" required>
									</div>
									<div class="col-sm-6">
										<label class="F-label-big">Confirm Password <span class="color-red">*</span></label>
										<input type="password" class="F-text-login F-text-reg" required>
									</div>
								</div>


							
									

								<br /><br />
								<div class="row">
									<div class="col-sm-3">
										<input type="submit" class="F-btn-large" value="Register">
									</div>
									<div class="col-sm-8 pad-top-10">
									<label class="chck" for="checkbox1">
										<input class="custom-checkbox" value="" id="checkbox1" data-toggle="checkbox" type="checkbox"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
							 			<span class="dark-bold">I Read and Agreed with the <a href="#">Terms and Conditions</a></span>
						 			</div>
								</div>
							</div>
						</form>
						</div>
					</div>
					<!-- END * CONTENT -->
