{% extends 'layout.html.twig' %}
{% block page %}

					<!-- START * CONTENT -->
					<div class="whitebg pad-50">
						<div class="container">
							<p class="text-hudge">In this section you will find detailed information about our services</p>
							<div><a href="#Compose"><button class="F-btn-large pad-side-30 text-hudge">Compose</button></a><a href="#Design"><button class="F-btn-large pad-side-30 text-hudge">Design</button></a><a href="#Wordpress"><button class="F-btn-large pad-side-30 text-hudge">Wordpress</button></a><a href="#FAQ"><button class="F-btn-large pad-side-30 text-hudge">F.A.Q.</button></a></div>
					
							<!-- START * COMPOSE -->
							<div meta="Service Information" align="left" class="m-bot-70">
								<h2  id="Compose" class="cat-large">Compose</h2>
								<p>
									Like a composer writes the notes that reflect his soul, we compose the notes that can take your company to be an eternal masterpiece.<br>
									In the compose section you can architect the application with support of our team Designers and Programers.
									The service is divided in two components. Everything the user sees and interacts with (<strong><a href="#">Frontend</a></strong>) and the administration & content management (<strong><a href="#">Backend</a></strong>), witch are the core of the application.<br>
									Search Engine Optimization (<strong><a href="#">SEO</a></strong>) is a must have since it brings higher visibility to your page in search engines and thus notorily increasing your visits.<br>
									Content Management System (<strong><a href="#">CMS</a></strong>) is an application where you can Create, Read, Update and Delete (<strong><a href="#">CRUDE</a></strong>) the sections witch can include News, Media, etc. This is essential to anyone who needs to manage a website and has no knowledge in programming. <strong><a href="#">Wordpress</a></strong> is the most widely spread CMS.<br>
									Any page needs <strong><a href="#">Plugins</a></strong> since they add different functionalities to your page. Our programmers create plugins to match the individual needs of our client. Some examples of plugins: News feed, user management, downloads, galeries, etc.
								</p>
								<a href="#"><button class="F-btn-large">Start Composing</button></a>
							</div>
							<!-- END * COMPOSE -->
							<!-- START * DESIGN -->
							<div meta="Service Information" align="left" class="m-bot-70">
								<h2 id="Design" class="cat-large">Design</h2>
								<p>
									Like a composer writes the notes that reflect his soul, we will compose the notes that can take your company to be an eternal masterpiece.<br>
									In the compose section you can architect the application with support of our team Designers and Programers.
									The service is divided in two components. Everything the user sees and interacts with (<strong><a href="#">Frontend</a></strong>) and the administration & content management (<strong><a href="#">Backend</a></strong>), witch are the core of the application.<br>
									Search Engine Optimization (<strong><a href="#">SEO</a></strong>) is a must have since it brings higher visibility to your page in search engines and thus notorily increasing your visits.<br>
									Content Management System (<strong><a href="#">CMS</a></strong>) is an application where you can Create, Read, Update and Delete (<strong><a href="#">CRUDE</a></strong>) the sections witch can include News, Media, etc. This is essential to anyone who needs to manage a website and has no knowledge in programming. <strong><a href="#">Wordpress</a></strong> is the most widely spread CMS.<br>
									Any page needs <strong><a href="#">Plugins</a></strong> since they add different functionalities to your page. Our programmers create plugins to match the individual needs of our client. Some examples of plugins: News feed, user management, donloads, galeries, etc.
								</p>
								<a href="#"><button class="F-btn-large">Start Designing</button></a>
							</div>
							<!-- END * DESIGN -->
							<!-- START * WORDPRESS -->
							<div meta="Service Information" align="left" class="m-bot-70">
								<h2 id="Wordpress" class="cat-large">Wordpress</h2>
								<p>
									Like a composer writes the notes that reflect his soul, we will compose the notes that can take your company to be an eternal masterpiece.<br>
									In the compose section you can architect the application with support of our team Designers and Programers.
									The service is divided in two components. Everything the user sees and interacts with (<strong><a href="#">Frontend</a></strong>) and the administration & content management (<strong><a href="#">Backend</a></strong>), witch are the core of the application.<br>
									Search Engine Optimization (<strong><a href="#">SEO</a></strong>) is a must have since it brings higher visibility to your page in search engines and thus notorily increasing your visits.<br>
									Content Management System (<strong><a href="#">CMS</a></strong>) is an application where you can Create, Read, Update and Delete (<strong><a href="#">CRUDE</a></strong>) the sections witch can include News, Media, etc. This is essential to anyone who needs to manage a website and has no knowledge in programming. <strong><a href="#">Wordpress</a></strong> is the most widely spread CMS.<br>
									Any page needs <strong><a href="#">Plugins</a></strong> since they add different functionalities to your page. Our programmers create plugins to match the individual needs of our client. Some examples of plugins: News feed, user management, donloads, galeries, etc.
								</p>
								<a href="#"><button class="F-btn-large">Configure your Wordpress</button></a>
							</div>
							<!-- END * WORDPRESS -->
							<!-- START * FAQ -->
							<div align="center"  id="FAQ">
								<h2 class="cat-large"> Frequently Asked Questions</h2>
								<!-- START * FAQ QUESTION -->
								<div align="left">
									<h3 class="header-title">Why buy an expensive service if I can buy a template for a fraction of the price?</h3>
									<span class="h3-line"></span>
									<ul class="FAQ">
									<li>Even tough a template might be optimized for search engines doesn't mean it will rank high on Google. Most of the work is on the texts showed in your page;</li>
									<li>Social networks are a powerfull marketing tool but, once again, to maximize the exposition of your business you should merge both;</li>
									<li>A template requires your business to adapt to the product you're buying, we create the page according to the needs of the company</li>
									</ul>
								</div>
							</div>
							<!-- START * FAQ QUESTION -->
								<!-- START * FAQ QUESTION -->
								<div align="left">
									<h3 class="header-title">Why should I invest on an online service platform when I can manage my business with Google Docs and Microsoft Office?</h3>
									<span class="h3-line"></span>
									<ul class="FAQ">
									<li>The resources and services your company provides would be accessible from anywhere at any time;</li>
									<li>Increased control over data;</li>
									<li>Superior costumer support provided to your clients;</li>
									<li>Easier to work when it comes to working in large teams;</li>
									<li>Everything will be backed up as frequently as you like.</li>
									</ul>
								</div>
							</div>
							<!-- START * FAQ QUESTION -->
								<!-- START * FAQ QUESTION -->
								<div align="left">
									<h3 class="header-title">I'm an artist. why invest on a personal page if I have all the exposure I need in the social networks?</h3>
									<span class="h3-line"></span>
									<ul class="FAQ">
									<li>The social networks DO give you alot of exposure, but a facebook profile can never compete with a page built to reflect your identity as an artist;</li>
									<li>Beautifull & easy on the eye galery;</li>
									<li>You can have an online shop to sell your artwork.</li>
									</ul>
								</div>
							</div>
							<!-- START * FAQ QUESTION -->
							<!-- END * FAQ -->
						</div>
					<!-- END * CONTENT -->
					
{%endblock%}						
